@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  @apply antialiased text-gray-700 bg-white select-none dark:bg-black;
}

.loader {
  @apply border-t-pink-500 dark:border-t-indigo-300;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
